<p-card header="Tarjeta de presentación" [style]="{'width': '18rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
        <img src="../../assets/image/profile2.jpg" alt="profile">
    </ng-template>
    <h2># {{id}}</h2>
    <h3>Nombre: {{nombre | titlecase}}</h3>
    <h3>Ocupación:
        {{ocupacion}}
        <span [ngSwitch]="ocupacion">
            <span *ngSwitchCase="'Maestro'">👨‍🏫</span>
            <span *ngSwitchCase="'Programador'">👨‍💻</span>
            <span *ngSwitchCase="'Chef'">👩‍🍳</span>
            <span *ngSwitchDefault>👋</span>
        </span>
        <!-- <span *ngIf="ocupacion === 'Maestro'; else iconoDefecto">👨‍🏫</span>
        <ng-template #iconoDefecto>
            👋
        </ng-template> -->
    </h3>
    <h3>Bio</h3>
    <p>
        {{bio | custom}}
    </p>
    <h3>Sueldo: {{sueldo | currency:'DOP':'DOP$':'4.2-4'}}</h3>
    <p>Fecha: {{date | date:'dd/MMM/yyyy'}}</p>
    <button pButton
            (click)="eliminar()"
    >Eliminar</button>
</p-card>